@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ma librerie</h1>
    <p class="lead">Bienvenue!</p><br /><hr />

    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    <p>
    Le centre communautaire gérer le prêt de livres à ses membres. 
    Le prêt est gratuit et de durée une semaine. Lors d’un prêt, le nombre de livres 
    maximal est de trois. La date de prêt est consignée et la date de retour aussi. Il aura également
    une gestion des retards. Les livres auront des catégories, parmi elles la catégorie enfants, 
    jeunesse (plus 14 ans), etc.
    </p>
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@